.content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-bottom: 100px;
}
.commentContent{
    margin: 10px;
    border-top:1px solid #b4b4b4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: left;
    max-width: 500px;
    
}
.commentHeader{
    margin-top: 15px;
    margin-left: 90px;
    width: 425px;
}

.commentTime{
    margin-left: 90px;
}

.commentForm {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}
.profilpicture{
    margin-top: -40px;
    width: 75px;
    height: 100px;
}

.profileImg{
    float : left;
    max-width: 75px;
    
}

.commentText{
    margin-top: -50px;
    margin-left: 90px;
    width: 400px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}


.comment {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 100px;
    text-align: justify;
}


.meme-img {
    border: 2px solid rgba(0, 0, 0, 0.103);
    width: inherit;
    height: inherit;
    width: 500px;
}

.meme-title {
    float: left;
}

.voteBtn {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    border: none;
}

.voteText {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
}

.counter {
    float: left;
    margin-top: 12px;
    margin-left: -2px;
    margin-right: 10px;
    font-size: 20px;
}