.content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-bottom: 100px;
}

.comment {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 100px;
    text-align: justify;
}

.commentText {
    max-width: 400px;
}

.meme-img {
    border: 2px solid rgba(0, 0, 0, 0.103);
    width: inherit;
    height: inherit;
    cursor: pointer;
    width: 500px;
}

.meme-title {
    float: left;
}

.voteBtn {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    border: none;
}

.voteText {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
}

.counter {
    float: left;
    margin-top: 12px;
    margin-left: -2px;
    margin-right: 10px;
    font-size: 20px;
}